/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1b1e21 !important;
  color: #ffffff !important;
}
.col {
  background-color: #2A2F33 !important;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
